body {
  background-color: #eef5ff;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/033/013/827/4k/imanol-delgado-salazar-afterlife-10.jpg?1608139785");
}
.logo-img {
  border-radius: 50%;
}
[data-bs-theme="dark"] body {
  background-color: #1a1a1a;
}
.game-container {
  background-color: black;
  background-size: cover;
  background-position: center;
  min-height: 250px;
}
.twitch-embed {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Ratio 16:9 */
}
.twitch-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.twitch-chat-container {
  height: 700px;
}
